
table {
  border: 1px solid #afafaf;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #fff;
  min-width: 100px;
}

td input{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

td input:focus{
  outline: none;
}

td.input-focus{
  border: 2px solid #0b57d0;
  padding: 1px;
}